#footer{
	background-color: #8A9530;	
	height: 50px;
}

#main {
	
	background: url('../img/bg-main.jpg') no-repeat center center fixed ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#carousel-estancia{	
	width: 766px;
	position: absolute;
	   
	  /*Centering Method 2*/

	  left: 15%;
	  top: 15%;

}