.footer {
    background-color: #8A9530;
}

body {

    background: url('../img/bg-main.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#carousel-estancia{
    width: 80%;
}

.salto-menu{
    background-color: transparent;
    width: 1px;
}

.navbar-estancia {
    background-color: transparent;
    border-color: transparent;
    font-size: 10px;
    min-height: 30px;
}

.navbar-estancia .navbar-brand {
    color: #777777;
}

.navbar-estancia .navbar-brand:hover,
.navbar-estancia .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-estancia .navbar-text {
    color: #777777;
}

.navbar-estancia .navbar-nav > li > a {
    color: #ffffff;
    background-color: #697d1e;
    padding: 2px 5px;
}



.navbar-estancia .navbar-nav > li > a:hover,
.navbar-estancia .navbar-nav > li > a:focus {
    color: #333333;
    background-color: #8A9530;
}

.navbar-estancia .navbar-nav > .active > a,
.navbar-estancia .navbar-nav > .active > a:hover,
.navbar-estancia .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #8A9530;
}

.navbar-estancia .navbar-nav > .disabled > a,
.navbar-estancia .navbar-nav > .disabled > a:hover,
.navbar-estancia .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar-estancia .navbar-toggle {
    border-color: #dddddd;
}

.navbar-estancia .navbar-toggle:hover,
.navbar-estancia .navbar-toggle:focus {
    background-color: #dddddd;
}

.navbar-estancia .navbar-toggle .icon-bar {
    background-color: #cccccc;
}

.navbar-estancia .navbar-collapse,
.navbar-estancia .navbar-form {
    border-color: #e6e6e6;
}

.navbar-estancia .navbar-nav > .dropdown > a:hover .caret,
.navbar-estancia .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333333;
    border-bottom-color: #333333;
}

.navbar-estancia .navbar-nav > .open > a,
.navbar-estancia .navbar-nav > .open > a:hover,
.navbar-estancia .navbar-nav > .open > a:focus {
    color: #555555;
    background-color: #e7e7e7;
}

.navbar-estancia .navbar-nav > .open > a .caret,
.navbar-estancia .navbar-nav > .open > a:hover .caret,
.navbar-estancia .navbar-nav > .open > a:focus .caret {
    border-top-color: #555555;
    border-bottom-color: #555555;
}

.navbar-estancia .navbar-nav > .dropdown > a .caret {
    border-top-color: #777777;
    border-bottom-color: #777777;
}


/******************************************************************/



.navbar-actividades {
    background-color: transparent;
    border-color: transparent;
    font-size: 10px;
    min-height: 30px;
}

.navbar-actividades .navbar-brand {
    color: #777777;
}

.navbar-actividades .navbar-brand:hover,
.navbar-actividades .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-actividades .navbar-text {
    color: #777777;
}

.navbar-actividades .navbar-nav > li > a {
    color: #ffffff;
    background-color: #697d1e;
    padding: 2px 5px;
}



.navbar-actividades .navbar-nav > li > a:hover,
.navbar-actividades .navbar-nav > li > a:focus {
    color: #333333;
    background-color: #8A9530;
}

.navbar-actividades .navbar-nav > .active > a,
.navbar-actividades .navbar-nav > .active > a:hover,
.navbar-actividades .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #8A9530;
}

.navbar-actividades .navbar-nav > .disabled > a,
.navbar-actividades .navbar-nav > .disabled > a:hover,
.navbar-actividades .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar-actividades .navbar-toggle {
    border-color: #dddddd;
}

.navbar-actividades .navbar-toggle:hover,
.navbar-actividades .navbar-toggle:focus {
    background-color: #dddddd;
}

.navbar-actividades .navbar-toggle .icon-bar {
    background-color: #cccccc;
}

.navbar-actividades .navbar-collapse,
.navbar-actividades .navbar-form {
    border-color: #e6e6e6;
}

.navbar-actividades .navbar-nav > .dropdown > a:hover .caret,
.navbar-actividades .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333333;
    border-bottom-color: #333333;
}

.navbar-actividades .navbar-nav > .open > a,
.navbar-actividades .navbar-nav > .open > a:hover,
.navbar-actividades .navbar-nav > .open > a:focus {
    color: #555555;
    background-color: #e7e7e7;
}

.navbar-actividades .navbar-nav > .open > a .caret,
.navbar-actividades .navbar-nav > .open > a:hover .caret,
.navbar-actividades .navbar-nav > .open > a:focus .caret {
    border-top-color: #555555;
    border-bottom-color: #555555;
}

.navbar-actividades .navbar-nav > .dropdown > a .caret {
    border-top-color: #777777;
    border-bottom-color: #777777;
}
/*******************************************************************/
/*
.navbar-estancia-default {
    background-color: transparent;
    border-color: transparent;
    font-size: 10px;
}


.nav > li > a {
    display: block;
    padding: 2px 5px;
    position: relative;
    color: #fff !important;
}

.nav > li > a {
    background-color: #697d1e;
}

.navbar-estancia {
    border-radius: 0;
}

.navbar-estancia {
    border: 1px solid transparent;
    margin-bottom: 20px;
    min-height: 27px;
    position: relative;
    z-index: 1000;

}


.navbar-estancia-default .navbar-estancia-nav > .active > a, .navbar-estancia-default .navbar-estancia-nav > .active > a:hover, .navbar-estancia-default .navbar-estancia-nav > .active > a:focus {
    background-color: #889641 !important;
    color: #555555;
}
*/