body{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    color: black;
}

#menu{
    font-size: 12px;
}


#menuactividades{
    font-size: 12px;
}